/* =======================================================================
Arise -One Page Respossive HTML5 Bootstrap Template
======================================================================= */


body{
    font-family: 'Rajdhani', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container-fluid {
    max-width: 1170px;
}

/*Common snippets
=======================================*/
/*global color :: #42a5f6;*/

/*typography*/

/*pointer events*/

/*buttons*/



/*---------------------------------------
 **   SECTION:  HOME              -----
 -----------------------------------------*/




/*---------------------------------------
 **   SECTION:  ABOUT              -----
 -----------------------------------------*/




 /*---------------------------------------
 **   SECTION:  TEAM              -----
 -----------------------------------------*/





 /*---------------------------------------
 **   SECTION:  CONTACT              -----
 -----------------------------------------*/




